.headline{
}
.headline div{
  display: inline-block;
}
.headline .image{
  position: relative;
}
.headline img{
  font-size: 1em;
  max-height: 1.5em;
  position: relative;
  top: 0.2em;
}
.headline .text{
  font-size: 1.5em;
  margin-top: 0.2em;
}


.center.login .row{
  display:inline-block;
  max-width: 20em;
  margin-top:2em;
}