html{
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
body{
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  font-family: Garamond,Arial,sans-serif;
  color: #000000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 1024px;
}

header{
  background: #dddddd;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
}


main{
  background: #eeeeee;
  position: absolute;
  top: 2.5em;
  left: 0px;
  width: 100%;
  right: 0px;
  bottom: 1em;
  overflow: auto;
}

footer{
  background: #dddddd;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1em;
}

select{
  border: none;
  font-size: 1em;
  background-color: transparent;
  max-height: 1em;
  line-height: 1em;
}

input{
  font-size: 1em;
}

.header_h5 header{
  height: 5em;
}
.header_h5 main{
  top: 5em;
}

.footer_h4 main{
  bottom: 4em;
}
.footer_h4 footer{
  height: 4em;
}

.footer_h8 main{
  bottom: 8em;
}
.footer_h8 footer{
  height: 8em;
}

h2{
  padding: 0.2em;
  margin: 0.2em;
  margin-left:0.5em;
  font-size: 1.2em;
}
h2 a{
  text-decoration: none;
  color: #000000;
}

.pathbar{
  display: inline-block;
}
.path, .logout{
  display: inline-block;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin: 0.2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  cursor: pointer;
}
.path{
  border-right: none;
  border-radius: 0em;
  margin-right: 0em;
  margin-left: 0em;
}
.path:first-child{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin-left: 0.2em;
}
.path:last-child{
  border-right: 2px solid black;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-right: 0.2em;
}
.logout{
  float:right;
}

.version{
  font-size: 0.9em;
}

.selection{
  display: flex;
  flex-wrap: wrap;
}
.selection .item{
  margin: 0.5em;
  margin-right: 0;
  display: inline-block;
  width: 7em;
  height: 7em;
  border: 2px solid black;
  border-radius: 1em;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.selection .item .label{
  display: block;
  margin-top: 40%;
}

.selection .break {
  flex-basis: 100%;
  height: 0;
}

.controls{
  margin-top: 0.5em;
  display: flex;
}
.controls .control, .button, .control_l, .control_m, .control_r{
  display: inline-block;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin: 0.2em;
  padding: 0.2em;
  cursor: pointer;
  min-width: 1.5em;
  text-align: center;
}
.control_l{
  margin-right: 0;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-right: none;
}
.control_m{
  margin-left: 0;
  margin-right: 0;
  border-radius: 0em;
}
.control_r{
  margin-left: 0;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-left: none;
}
.disabled{
  border-color: #aaaaaa;
  color: #aaaaaa;
  cursor: auto;
}
.main_button{
  margin-left: 0.5em;
}

.center{
  text-align: center;
}
.left{
  text-align: left;
}

.row{
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  max-width: 65em;
}
.inner_row{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.inner_row.mt1{
  margin-top: 1em;
}
.inner_row.mb1{
  margin-bottom: 1em;
}
.row .col,.row .col1,.row .col2,.row .col3,.row .col4,.row .col5{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.row .col1{
  width: 5em;
}
.row .col2{
  width: 10em;
}
.row .col3{
  width: 15em;
}
.row .col4{
  width: 20em;
}
.row .col5{
  width: 25em;
}
.row .col > div,.row .col1 > div,.row .col2 > div,.row .col3 > div,.row .col4 > div,.row .col5 > div{
  padding: 0.5em;
}
.col.right,.col1.right,.col2.right,.col3.right,.col4.right,.col5.right{
  justify-content: right;
}
.col.center,.col1.center,.col2.center,.col3.center,.col4.center,.col5.center{
  justify-content: center;
}
.row .inner_row .col > div,
.row .inner_row .col1 > div,
.row .inner_row .col2 > div,
.row .inner_row .col3 > div,
.row .inner_row .col4 > div,
.row .inner_row .col5 > div{
  padding-top: 0em;
  padding-bottom: 0em;
}
.row .last{
  margin-left: auto;
}
.row.product .image{
  display: inline-block;
  padding: 0em;
  width: 5em;
  height: 5em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #cccccc;
}
.product .info{
  display: inline-block;
  width: 13em;
  height: 4em;
  padding: 0.5em;
}
.product .info .producer{
  margin-top: 0.5em;
  font-style: italic;
  font-size: 0.8em;
}
.row .extended{
  width: auto;
  height: 5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.row .amount_ctrl{
  display: inline-block;
  width: 10em;
  height: 4em;
  padding: 0.5em;
}
.row .ctrl{
  margin-top: 0.2em;
  white-space:nowrap;
}
.row .amount_ctrl .button{
  width: 1.5em;
  font-size: 2em;
  line-height: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: white;
}
.row .col3 .price_detail{
  display: inline-block;
  width: 8em;
  padding: 0.5em;
  padding-top: 0.7em;
  font-size: 0.8em;
}
.row .price_detail.grey{
  color: #888888;
}
.row .price_sum{
  display: inline-block;
  width: 6em;
  padding: 0.5em;
  text-align: right;
}

