html{
  margin: 0;
  padding: 0;
  font-size: 19px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 1em;
  font-family: Garamond,Arial,sans-serif;
  color: #000000;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 42em;
}

header{
  background: #dddddd;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
}


main{
  background: #eeeeee;
  position: absolute;
  top: 2.5em;
  left: 0px;
  width: 100%;
  right: 0px;
  bottom: 1em;
  overflow-x: auto;
  overflow-y: scroll;
}

footer{
  background: #dddddd;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1em;
}

#loading{
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  rigth: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

select{
  border: none;
  font-size: 1em;
  background-color: white;
  max-height: 1.5em;
  line-height: 1em;
  border: 1px solid black;
  padding: 0;
}

input:not([type='radio']):not([type='checkbox']){
  border: 1px solid black;
  font-family: Garamond,Arial,sans-serif;
  font-size: 1em;
  padding: 0;
  margin: -1px;
  height: 1em;
}
input[type="radio"],input[type="checkbox"],label{
  cursor: pointer;
}

.header_h5 header{
  height: 5em;
}
.header_h5 main{
  top: 5em;
}

.footer_h4 main{
  bottom: 4em;
}
.footer_h4 footer{
  height: 4em;
}

.footer_h8 main{
  bottom: 8em;
}
.footer_h8 footer{
  height: 8em;
}



h2{
  padding: 0.2em;
  margin: 0.2em;
  margin-left:0.5em;
  font-size: 1.2em;
}
h2 a{
  text-decoration: none;
  color: #000000;
}

a{
  color: #000000;
}

.pointer{
  cursor: pointer;
}

/*TOP WHERE - WHO START*/
.pathbar{
  display: inline-block;
}
.path, .logout{
  display: inline-block;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin: 0.2em;
  padding: 0.4em;
  cursor: pointer;
}
.path{
  border-right: none;
  border-radius: 0em;
  margin-right: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
}
.path:first-child{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin-left: 0.2em;
}
.path:last-child{
  border-right: 2px solid black;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-right: 0.2em;
}
.logout{
  float:right;
}
/*TOP WHERE - WHO END*/

#main{
  position: relative;
  height: 100%;
}

div.mt0_5{
  margin-top: 0.5em;
}
div.mt1{
  margin-top: 1em;
}
div.mb1{
  margin-bottom: 1em;
}
div.mr0_2{
  margin-right: 0.2em;
}
div.mr1{
  margin-right: 1em;
}

/*SELECTION START*/
.selection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
}
.selection .item{
  margin: 0em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 6em;
  height: 6em;
  border: 2px solid black;
  border-radius: 1em;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.selection .item.selected{
  box-shadow: 0 0 0 4px black;
}
.selection .item .label{
  display: block;
  margin-top: 40%;
  font-size: 0.8em;
}
.selection .item.selected .label{
  
}
.selection .break {
  flex-basis: 100%;
  height: 0.5em;
}
/*SELECTION END*/

.controls{
  margin-top:0.2em;
  display: block;
}
.filters{
}
 .button, .input{
  display: inline-block;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin: 0.2em;
  cursor: pointer;
  min-width: 1.2em;
  text-align: center;
}
.controls .control{
  margin: 0;
  display: inline-block;
}
.input.input_text{
  text-align: left;
  width: 95%;
}
.button{
  padding: 0.2em;
}
.button.large{
  width: 1.2em;
  font-size: 2em;
  line-height: 1.2em;
  height: 1.2em;
  margin: 0;
}
.input{
  border: 1px solid black;
  border-radius: unset;
  margin: 0;
  margin-bottom: 0.2em;
  min-width: 2em;
  min-height: 1.2em;
}
.input.options .option{
  padding: 0.4em;
  border-right: 1px solid black;
  display: inline-block;
}
.input.options .option:last-child{
  border-right: none;
}
.input.options .option:before{
  font-family: "Font Awesome 6 Free";
  content: "\f111";
  display:inline-block;
  margin-right: 0.2em;
}
.input.options .option.selected:before{
  content: "\f192";
}
.input.money, .input.amount_weight, .input.amount_pieces, .input.string{
  text-align: right;
  padding: 0;
  padding-right: 0.1em;
  min-width: 3em;
  min-height: 1.2em;
}
.input.string{
  text-align: left;
  min-width: 6em;
  width: 100%;
}
.input.active{
  box-shadow: 0 0 0 2px black;
}
.control_l{
  margin-right: 0;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-right: none;
}
.control_m{
  margin-left: 0;
  margin-right: 0;
  border-radius: 0em;
}
.control_r{
  margin-left: 0;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-left: none;
}

.filter{
  position: relative;
}
.filter .count{
  position: absolute;
  display: inline-block;
  left: 2.1em;
  top: -0.1em;
  background-color: rgba(255,255,255,1);
  font-size: 0.9em;
  border: 1px solid black;
  border-radius: 0.5em;
  line-height: 95%;
  padding-left:0.2em;
  padding-right:0.2em;
}

.filter.search{
  position: absolute;
  right: 0px;
  width: 8em;
  border: 1px solid black;
  background-color: white;
  padding-left: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.filter.search input{
  width: calc(100% - 2em);
}

.disabled{
  border-color: #aaaaaa;
  color: #aaaaaa;
  cursor: auto;
}
.main_button{
  margin-left: 0.5em;
  padding: 0.5em;
}


.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

.smaller{
  font-size: 0.8em;
}

.title{
  margin: 0.2em;
  font-weight: bold;
}


/*ROW START*/
.row{
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
.row.bottom_no_radius{
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.inner_row{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.row .col,
.row .col1,
.row .col2,
.row .col3,
.row .col4,
.row .col5,
.row .col6,
.row .col7,
.row .col8,
.row .col9,
.row .col10,
.row .col11,
.row .col12,
.row .col13{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.row .col1{
  width: 2.2em;
}
.row .col2{
  width: 4.4em;
}
.row .col3{
  width: 6.6em;
}
.row .col4{
  width: 8.8em;
}
.row .col5{
  width: 11em;
}
.row .col6{
  width: 13.2em;
}
.row .col7{
  width: 15.4em;
}
.row .col8{
  width: 17.6em;
}
.row .col9{
  width: 19.8em;
}
.row .col10{
  width: 22em;
}
.row .col11{
  width: 24.2em;
}
.row .col12{
  width: 26.4em;
}
.row .col13{
  width: 28.6em;
}
/*ROW END*/

.right{
  justify-content: right!important;
}
.center{
  justify-content: center!important;
}
.row .last{
  margin-left: auto;
}
.row .image{
  display: inline-block;
  padding: 0em;
  width: 4.4em;
  height: 4.4em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #dddddd;
}
.row .info{
  display: inline-block;
  width: 13em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.row .info .producer{
  margin-top: 0.5em;
  font-style: italic;
  font-size: 0.8em;
}
.row .amount_ctrl{
  display: inline-block;
  width:100%;
  padding-right: 0.5em;
}
.row .ctrl{
  margin-top: 0.2em;
  white-space:nowrap;
  text-align: center;
}
.row .amount_ctrl .button{
  width: 1.8em;
  font-size: 2em;
  line-height: 1.2em;
  height: 1.2em;
  padding: 0;
  margin: 0;
  background-color: white;
}
.row .price_detail{
  display: inline-block;
  padding-right: 0.5em;
  font-size: 0.8em;
  width: calc(100% - 7em);
}
.grey{
  color: #888888;
}
.row .price_sum{
  display: inline-block;
  width: 7em;
  text-align: right;
}







/*KEYBOARD START*/
#keyboard{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#keyboard_window{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top:10%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 3px solid black;
  border-radius: 1em;
  width: 20em;
}
#keyboard_window.string{
  width: calc(100% - 1em);
}
#keyboard_header{
  margin: 0.5em;
  display: flex;
  position: relative;
  justify-content: space-between;
}
#keyboard_header .button{
  min-width: 2em;
  min-height: 6em;
}
#keyboard_header .button span{
  position: relative;
  top: calc(50% - 0.5em);
  font-size: 1.5em;
}
#keyboard_info{
  display: inline-block;
  font-size: 1.5em;
  margin: 0em;
  text-align: center;
}
#keyboard_fields{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: right;
  margin-bottom: 0.5em;
}
#keyboard .field{
  margin-bottom: 0.5em;
}
#keyboard .field .input{
  background-color: white;
  border: 1px solid black;
  font-size: 2em;
  text-align: right;
  min-width: 4em;
  display: inline-block;
}
#keyboard .field.type_select{
  display: flex;
  justify-content: space-evenly;
  text-align: unset;
}
#keyboard .field .input.option{
  min-width: unset;
}
#keyboard .field .unit{
  font-size: 2em;
  margin-left: 0;
  display: inline-block;
  min-width: 2.5em;
  text-align: left;
}

.keyboard_keys > div{
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.keyboard_keys > div > div{
  display: inline-flex;
  width: 4em;
  height: 4em;
  background-color: white;
  border: 2px solid black;
  border-radius: 1em;
  justify-content: space-around;
  cursor: pointer;
}
.keyboard_keys > div > div.none{
  background-color: unset;
  border: unset;
  cursor: unset;
}
.keyboard_keys > div > div.none span{
  display: none;
}
#keyboard_options.keyboard_keys > div > div{
  min-width: 16em;
}
#keyboard_options .selected{
  box-shadow: 0 0 0 2px black;
}
.keyboard_keys > div > div.active{
  box-shadow: 0 0 0 2px black;
}
.keyboard_keys > div > div > span{
  font-size: 2em;
  margin-top: 0.4em;
}
#keyboard_ctrl{
  margin-top: 1em;
}
#keyboard_window.scale #keyboard_info{
  margin-left: 4em;
  width: 6em;
}

/*KEYBOARD END*/