.amount_ctrl .amount{
  text-align: center;
}
.amount_ctrl .ctrl .button.amount{
  position: relative;
}
.amount_ctrl .ctrl .button.amount span{
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}
.amount_ctrl .ctrl.weight{
  text-align: center;
}
.amount_ctrl .ctrl .button.scale{
  width: auto;
}
.amount_ctrl .ctrl .button.scale div{
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}

.row .result{
  align-items: center;
}
.result .icon{
  font-size: 2em;
  padding: 0.25em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
}
.result .icon.warning{
  background-color: rgba(200,200,0,0.5);
}
.result .icon.error{
  background-color: rgba(200,0,0,0.5);
}
.result .icon.good{
  background-color: rgba(0,127,0,0.5);
}

#scale{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#scale_window{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top:20%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 3px solid black;
  border-radius: 1em;
  width: 20em;
}
#scale_header{
  margin: 0.5em;
  display: flex;
  position: relative;
  justify-content: center;
}
#scale_title{
  display: inline-block;
  font-size: 1.5em;
  margin: 0em;
  text-align: center;
}
#scale_info{
  display: block;
  text-align: center;
}
#scale_price{
  display: inline-block;
  font-size: 1em;
  margin: 0em;
  padding: 0.2em;
  text-align: center;
  border: 1px solid black;
}
#scale_price_sum{
  margin-top: 1em;
}
#scale_display{
  display: inline-block;
  font-size: 1.5em;
  margin: 0em;
  padding: 0.2em;
  text-align: center;
  border: 1px solid black;
}
#scale_bar{
  position: relative;
  margin: 0.5em;
  height: 1em;
}
#scale_bar #bar_border{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1em;
  border: 1px solid black;
  background-color: white;
}
#scale_bar #bar{
  position: absolute;
  left: 1px;
  top: 1px;
  height: 1em;
  border-right: 1px solid black;
  background-color: grey;
}
#scale_bar #bar_exact{
  position: absolute;
  top:1px;
  height: 1em;
  width:2px;
  background-color: #aca;
}
#scale_bar #bar_okay{
  position: absolute;
  top:1px;
  right:1px;
  height: 1em;
  background-color: #cfc;
}