.weekdays{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.weekdays > div{
  flex: min-content;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 6em;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid black;
}

.weekdays > div.otmo{
  background-color: rgba(255,255,255,0.7);
}

.weekdays.labels{
  height: 1.5em;
}
.weekdays.labels > div{
  font-size: 1.2em;
  min-height: 1em;
  background-color: rgba(255,255,255,0.7);
}