.weekdays{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.weekdays > div{
  flex: min-content;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 6em;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid black;
}

.weekdays > div.otmo{
  background-color: rgba(255,255,255,0.7);
}
.weekdays > div.today{
  box-shadow: 0 0 0 2px black;
  background-color: rgba(255,255,255,1);
}

.weekdays > div > div.task{
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-align: left;
  font-size: 80%;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.9);
}

.weekdays > div > div.task.red{
  background-color: rgba(255,128,128,0.9);
}

.weekdays > div > div.task.green{
  background-color: rgba(248,255,248,0.9);
}

.weekdays.labels{
  height: 1.5em;
}
.weekdays.labels > div{
  font-size: 1.2em;
  min-height: 1em;
  background-color: rgba(255,255,255,0.7);
}